# MQTT Configuration
MQTT_BROKER=your_mqtt_broker
MQTT_PORT=1883
MQTT_TOPIC=your/topic/#
MQTT_USER=your_username
MQTT_PASSWORD=your_password

# InfluxDB Configuration
INFLUX_URL=your_influxdb_url
INFLUX_TOKEN=your_token
INFLUX_ORG=your_org
INFLUX_BUCKET=your_bucket